<div class="new-food-link"> 
<%= link_to "New food", new_food_path %>
</div>

<div id="foods">
<table>
<thead>
  <tr>
    <th>Name</th>
    <th>Measurement unit</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  <% @foods.each do |food| %>
    <tr>
    <%= render food %>
    <td>
    <%= button_to "Delete", food, method: :delete %>
    </td>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>

