<ul class="nav-bar">

  </li>
  <li class="nav-item">
    <%= link_to 'Food List', foods_path, class: "nav-link" %> 
  </li>
  <li class="nav-item">
    <%= link_to 'Recipe List', recipes_path, class: "nav-link" %> 
  </li>
  <li class="nav-item">
    <%= link_to 'Public Recipe List', recipes_path, class: "nav-link" %> 
  </li>
  <li class="nav-item">
    <%= link_to 'General Shopping List', recipes_path, class: "nav-link" %> 
  </li>
